#discover {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  align: center;
}
.download {
  color: Aquamarine;
  font-size: 16px;
}
body {
  background-color: Black;
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
}
.travel {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
#excursion {
  font-family: Verdana;
  font-size: 21px;
  color:gray;
}
#footer {
  text-align: right;
  color: gray;
}
